{% extends 'base.html' %}
{% block content %}


    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Username</th>
                    <th>Team Name</th>
                    <th>Points</th>
                </tr>
                <tr>
                    {% for team in teams %}
                        <td>{{ team.owner }}</td>
                        <td>{{ team.team_name }}</td>
                        <td>{{ team.total_points }}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>



{% endblock %}